             /* ****************************TAG SELECTORS**************************** */
span{
    margin:unset;
}
body{
    margin:10px;
    font-family:'Hanken Grotesk',sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    color:hsl(241, 100%, 89%);
}
button{
    display: block;
    margin: 15px auto 15px auto;
    outline:none;
    border:none;
    padding:15px 30px;
    color:white;
    background-color:hsl(224, 30%, 27%) ;
    width: 80%;
    border-radius: 80px;
    cursor: pointer;
}
h1{
    margin:unset;
    color:hsl(0, 0%, 100%);
    padding-top:20px;
    font-size: 50px;
}
h2{
    color:hsl(0, 0%, 100%);
}
h4{
    margin:unset;
}
p{
    font-size: 18px;
    width:250px;
    margin: auto;
}

            /* ****************************CLASS SELECTORS**************************** */
.black-text{
  color:black;
 }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    border-radius: 20px;
    margin:10px;
    box-shadow: 1px 0px 20px 2px rgba(0,0,0,40%);
}
.grey-text{
    color:hsl(241, 100%, 89%);
}

.result{
    
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    text-align: center;
    width:45%;
    height:350px;
    padding: 20px;
    border-radius: 20px;    
}
.score{
    box-sizing: border-box;
    background:linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width:140px;
    height: 140px; 
    margin:auto;
}
.summary{
    margin-left:10px;
    width:300px;
    color:black;
}
.score-con{
    display: flex; 
}
.score-card{
    margin-left:12px;
    margin-right:12px;
}

.score-reaction{
    width:80%;
    background-color: hsla(0, 100%, 67%,0.1);
    color:hsl(0, 100%, 67%);
    display: flex;
    justify-content: space-between; 
    margin-bottom:15px;
    padding:15px;
    border-radius: 10px;
}
.score-memory{
    width:80%;
    background-color: hsla(39, 100%, 56%,0.1);
    color:hsl(39, 100%, 56%);
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px;
    padding:15px;
    border-radius: 10px;

}
.score-verbal{
    width:80%;
    background-color: hsla(166, 100%, 37%,0.1);
    color:hsl(166, 100%, 37%);
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px;
    padding:15px;
    border-radius: 10px;

}
.score-visual{
    width:80%;
    background-color: hsla(234, 85%, 45%,0.1);
    color:hsl(234, 85%, 45%);
    display: flex;
    justify-content: space-between;
     margin-bottom: 15px;
     padding:15px;
     border-radius: 10px;

}

@media only screen and (max-width:760px) {
    body{
        margin: 0;
        height: 100%;
    }
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0px; 
        overflow:hidden;
        border-radius: 0px;
        padding:0px;
        box-shadow: none;
    }
    
    .result{
        width:100%;
        border-radius: 0px 0px 35px 35px;
        padding:0px;
    }
    .summary{
        padding:0px;
        width:80vw;
        margin:0 auto;
    }
    .result-text{
        text-align: center;
    }
    button{
        width:70%;
        margin:15px auto 15px auto;

    }
    p{
        font-size: 1rem;
        width:80%;
        overflow-wrap:normal;
        
    }
    .score-card{
        width: 100%;
    }
} 



